.Item {
    text-align: center;
    font-size: medium;
    padding-top: 20px;
  }
  
  .Item-name {
    color: rgb(18, 74, 97);
    font-weight: bold;
  }
  
  .Col-name {
      text-align: right;
  }

  .Col-quantity {
    text-align: left;
  }

  .Col-actions {
      text-align: left;
  }

  .Col-actions .btn {
        margin-right: 5px;
  }